.galeria {
  width: 690px;
  height: 760px;
  border: 2px solid rgb(227, 98, 171);
  background-color: #eeb1db;
  position: relative;
}

.box{
  width: 150px;
  height: 300px;
  background-color: #f692cc;
  padding: 10px;
  color: white;
  margin: 10px;
  position: absolute;
}

.galeryBox1{
  position: absolute;
  left: 0px;
  top: 20px;
}

.galleryBox2{
  position: absolute;
  left: 250px;
  top: 20px;
}

.galleryBox3{
  position: absolute;
  left: 500px;
  top: 20px;
}

.galleryBox4{
  position: absolute;
  left: 0px;
  top: 400px;
}

.galleryBox5{
  position: absolute;
  left: 250px;
  top: 400px;
}

.galleryBox6{
  position: absolute;
  left: 500px;
  top: 400px;
}